body {
    font-family: "NotoSansMyanmar" !important;
    font-size: 1.3em;
    line-height: 1.8;
    -webkit-user-select: all;
    background-color: #323232;
    color: white;
}
.book {
    background-color: #3f3f3f;
    color: lightskyblue;
    text-align: center;
    line-height: 2;
}
.word {color: lightskyblue; font-weight: bold;}
.gender {color: silver; }
.definition { color: white;}
.reference { margin-left: 150px; color: #c0c0c0; text-align: right;}
