body {
	font-family: "NotoSansMyanmar" !important;
    line-height: 2;
    padding-left: 10pt;
    padding-right: 10pt;
    word-break:normal
}
p { font-size: 1.3em; margin-bottom: 1.1em; text-align: left;}
a {text-decoration: none; color: blue; font-size: 0.8em;}
p.bkname {
    text-indent: 2em;
    font-size: x-large;
    font-style: italic;
    background: #e1efbb;
    border: 1px solid gray;}
.note {display: none; color: gray; font-size: 0.9em;}
.bld {font-weight: bold; }
.paranum {font-weight: bold; }
.hit {background-color: blue; color: white; }
.context {background-color: green; color: white; }
.indent { text-indent: 1.3em; margin-left: 2em;}
.bodytext {  text-indent: 1.3em;}
.hangnum {  margin-bottom: -3em; text-indent: 1.6em;}
.centered {  text-align:center;}
.unindented { font-size: 1.3em; }
.noindentbodytext { font-size: 1.3em; }
.book { font-size: 1.9em; text-align:center; font-weight: bold;}
.chapter { font-size: 1.7em; text-align:center; font-weight: bold;}
.nikaya { font-size: 1.6em; text-align:center; font-weight: bold;}
.title { font-size: 1.3em; text-align:center; font-weight: bold;}
.subhead { font-size: 1.6em; text-align:center; font-weight: bold;}
.subsubhead { font-size: 1.2em; text-align:center; font-weight: bold;}
.gatha1 {  margin-bottom: 0em; margin-left: 5em;}
.gatha2 {   margin-bottom: 0em; margin-left: 5em;}
.gatha3 {   margin-bottom: 0em; margin-left: 5em;}
.gathalast {  margin-bottom: 1.3em; margin-left: 5em;}
.pageheader {font-size: 0.9em; color: deeppink;}
.highlighted {background: rgb(255, 114, 20); color: white;}
.sample {background: white; color: black; text-align:center;}